body {
  background-image: url("rickymortybackground.jpg");;
  text-align: center;
}

#characters {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    margin-top: 50px;
    margin-left: 50px; 
    margin-bottom: 50px;
    margin-right: 50px;  
}

img {
  border-radius: 50%;
}

#characters div div {
  margin-top: 20px;
  margin-bottom: 20px;
} 

span{
  color:rgb(199, 30, 165);
  font-size: 20px;
}
